
<diagram-palette></diagram-palette>
<div class="left">
  Diagram
  <gojs-diagram #myDiagram [initDiagram]='initDiagram' [nodeDataArray]='state.diagramNodeData' [linkDataArray]='state.diagramLinkData'
    [divClassName]='diagramDivClassName' [modelData]='state.diagramModelData'
    (modelChange)="diagramModelChange($event)">
  </gojs-diagram>
</div>

<div class="left">
  <diagram-inspector [nodeData]='state.selectedNodeData' (onInspectorChange)='handleInspectorChange($event)'></diagram-inspector>
  <button class="button-3" (click)="saveStateToFile()">Guardar Estado</button>
  <input class="button-7" type="file" (change)="loadJson($event)">
</div>
